<a href="https://colab.research.google.com/github/KorKanticha/SeniorProject/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Decision Tree
Importing Required Libraries

In [70]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

##mount files

In [77]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [148]:
xls_Suicide = pd.ExcelFile("/content/gdrive/MyDrive/SeniorProject_KorBoss/Cleaned_Data_V6.xlsx")

In [149]:
dr = dict()
dr = pd.read_excel(xls_Suicide,index_col=0)

In [180]:
df= dr
df.head()

  Gender  Age Province_Happen  ... Factor_C_Dept Factor_C_Mental Factor_C_Others
0    ชาย   42              12  ...        ไม่ใช่          ไม่ใช่          ไม่ใช่
1    ชาย   51              12  ...        ไม่ใช่          ไม่ใช่          ไม่ใช่
2   หญิง   29              57  ...        ไม่ใช่          ไม่ใช่          ไม่ใช่
3    ชาย   58              12  ...        ไม่ใช่          ไม่ใช่          ไม่ใช่
4    ชาย   53              19  ...        ไม่ใช่          ไม่ใช่          ไม่ใช่

[5 rows x 65 columns]

In [98]:
df.shape

(49748, 65)

##Create Dummies

In [181]:
df = df.replace(["ใช่"],"1")
df = df.replace(["ไม่ใช่"],"0")
df = df.replace(["ไม่ทราบ"],"&unknown")
df["Province_Happen"].replace({"99": "&unknown"}, inplace=True)
df["Month_Group"].replace({1: "1"}, inplace=True)
df["Month_Group"].replace({2: "2"}, inplace=True)
df["Month_Group"].replace({3: "3"}, inplace=True)
df["Month_Group"].replace({4: "4"}, inplace=True)
df["Time_Group"].replace({1: "1"}, inplace=True)
df["Time_Group"].replace({2: "2"}, inplace=True)
df["Time_Group"].replace({3: "3"}, inplace=True)
df["Time_Group"].replace({4: "4"}, inplace=True)
df["Time_Group"].replace({5: "5"}, inplace=True)
df["Time_Group"].replace({6: "6"}, inplace=True)

df.head()

  Gender  Age Province_Happen  ... Factor_C_Dept Factor_C_Mental Factor_C_Others
0    ชาย   42              12  ...             0               0               0
1    ชาย   51              12  ...             0               0               0
2   หญิง   29              57  ...             0               0               0
3    ชาย   58              12  ...             0               0               0
4    ชาย   53              19  ...             0               0               0

[5 rows x 65 columns]

In [122]:
df.shape

(49748, 65)

In [166]:
for i in range (0,65 ):
  tmp = pd.get_dummies(df.iloc[:, [i]],drop_first=True)
  print(tmp)

       Gender_หญิง
0                0
1                0
2                1
3                0
4                0
...            ...
49743            0
49744            1
49745            0
49746            0
49747            0

[49748 rows x 1 columns]
       Age_9  Age_10  Age_11  Age_12  Age_13  ...  Age_2  Age_3  Age_4  Age_5  Age_6
0          0       0       0       0       0  ...      0      0      0      0      0
1          0       0       0       0       0  ...      0      0      0      0      0
2          0       0       0       0       0  ...      0      0      0      0      0
3          0       0       0       0       0  ...      0      0      0      0      0
4          0       0       0       0       0  ...      0      0      0      0      0
...      ...     ...     ...     ...     ...  ...    ...    ...    ...    ...    ...
49743      0       0       0       0       0  ...      0      0      0      0      0
49744      0       0       0       0       0  ...      0      0      0      0      0
49745      0       0       0       0       0  ...      0      0      0      0      0
49746      0       0       0       0       0  ...      0      0      0      0      0
49747      0       0       0       0       0  ...      0      0      0      0      0

[49748 rows x 99 columns]
       Province_Happen_11  ...  Province_Happen_ต่างประเทศ
0                       0  ...                           0
1                       0  ...                           0
2                       0  ...                           0
3                       0  ...                           0
4                       0  ...                           0
...                   ...  ...                         ...
49743                   0  ...                           0
49744                   0  ...                           0
49745                   0  ...                           0
49746                   0  ...                           0
49747                   0  ...                           0

[49748 rows x 79 columns]
       Status_คู่  Status_สมณะ  ...  Status_แยก  Status_โสด
0               0            0  ...           0           1
1               0            0  ...           0           0
2               0            0  ...           0           1
3               1            0  ...           0           0
4               1            0  ...           0           0
...           ...          ...  ...         ...         ...
49743           0            0  ...           0           0
49744           1            0  ...           0           0
49745           0            0  ...           0           1
49746           1            0  ...           0           0
49747           0            0  ...           0           0

[49748 rows x 6 columns]
       Religion_คริสต์  ...  Religion_ไม่นับถือศาสนา
0                    0  ...                        0
1                    0  ...                        0
2                    0  ...                        0
3                    0  ...                        0
4                    0  ...                        0
...                ...  ...                      ...
49743                0  ...                        0
49744                0  ...                        0
49745                0  ...                        0
49746                0  ...                        0
49747                0  ...                        0

[49748 rows x 6 columns]
       WTK_Overdose_1
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
49743               0
49744               0
49745               0
49746               0
49747               0

[49748 rows x 1 columns]
       WTK_Insecticide_1
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
49743                  0
49744                  0
49745                  0
49746                  0
49747                  0

[49748 rows x 1 columns]
       WTK_Herbicide_1
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
49743                0
49744                1
49745                0
49746                0
49747                0

[49748 rows x 1 columns]
       WTK_Other_Chemicals_1
0                          0
1                          1
2                          0
3                          0
4                          0
...                      ...
49743                      0
49744                      0
49745                      0
49746                      0
49747                      0

[49748 rows x 1 columns]
       WTK_Sharp_Weapons_1
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
49743                    0
49744                    0
49745                    0
49746                    0
49747                    0

[49748 rows x 1 columns]
       WTK_Guns_1
0               0
1               0
2               0
3               0
4               0
...           ...
49743           0
49744           0
49745           0
49746           0
49747           0

[49748 rows x 1 columns]
       WTK_Jump_Off_Building_1
0                            0
1                            0
2                            0
3                            0
4                            0
...                        ...
49743                        0
49744                        0
49745                        0
49746                        0
49747                        0

[49748 rows x 1 columns]
       WTK_Hang_1
0               1
1               0
2               1
3               1
4               1
...           ...
49743           1
49744           0
49745           1
49746           1
49747           0

[49748 rows x 1 columns]
       WTK_Jump_Into_Water_1
0                          0
1                          0
2                          0
3                          0
4                          0
...                      ...
49743                      0
49744                      0
49745                      0
49746                      0
49747                      0

[49748 rows x 1 columns]
       WTK_Ran_Into_Cars_1
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
49743                    0
49744                    0
49745                    0
49746                    0
49747                    0

[49748 rows x 1 columns]
       WTK_Smoke_Gas_1
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
49743                0
49744                0
49745                0
49746                0
49747                0

[49748 rows x 1 columns]
       Disease_M_Physcopath_1
0                           0
1                           0
2                           0
3                           0
4                           0
...                       ...
49743                       0
49744                       0
49745                       0
49746                       0
49747                       0

[49748 rows x 1 columns]
       Disease_M_Depression_1
0                           0
1                           0
2                           0
3                           0
4                           0
...                       ...
49743                       0
49744                       0
49745                       0
49746                       0
49747                       0

[49748 rows x 1 columns]
       Disease_M_Others_1
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
49743                   0
49744                   0
49745                   0
49746                   0
49747                   0

[49748 rows x 1 columns]
       Disease_P_Diabetes_1
0                         0
1                         0
2                         0
3                         0
4                         0
...                     ...
49743                     0
49744                     0
49745                     0
49746                     0
49747                     1

[49748 rows x 1 columns]
       Disease_P_HBP_1
0                    0
1                    0
2                    0
3                    1
4                    0
...                ...
49743                0
49744                0
49745                0
49746                0
49747                1

[49748 rows x 1 columns]
       Disease_P_Cardio_1
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
49743                   0
49744                   0
49745                   0
49746                   0
49747                   0

[49748 rows x 1 columns]
       Disease_P_Kidney_1
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
49743                   0
49744                   0
49745                   0
49746                   0
49747                   1

[49748 rows x 1 columns]
       Disease_P_Liver_1
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
49743                  0
49744                  0
49745                  0
49746                  0
49747                  0

[49748 rows x 1 columns]
       Disease_P_lung_1
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
49743                 0
49744                 0
49745                 0
49746                 0
49747                 0

[49748 rows x 1 columns]
       Disease_P_Migrant_1
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
49743                    0
49744                    0
49745                    0
49746                    0
49747                    0

[49748 rows x 1 columns]
       Disease_P_Joint_1
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
49743                  0
49744                  0
49745                  0
49746                  0
49747                  0

[49748 rows x 1 columns]
       Disease_P_Paralyze_1
0                         0
1                         0
2                         0
3                         0
4                         0
...                     ...
49743                     0
49744                     0
49745                     0
49746                     0
49747                     0

[49748 rows x 1 columns]
       Disease_P_Cancer_1
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
49743                   0
49744                   0
49745                   0
49746                   0
49747                   0

[49748 rows x 1 columns]
       Disease_P_HIV_1
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
49743                0
49744                0
49745                0
49746                0
49747                0

[49748 rows x 1 columns]
       Disease_P_Others_1
0                       1
1                       0
2                       0
3                       0
4                       0
...                   ...
49743                   0
49744                   0
49745                   0
49746                   0
49747                   0

[49748 rows x 1 columns]
       Time_Group_1  Time_Group_2  ...  Time_Group_5  Time_Group_6
0                 0             0  ...             0             1
1                 0             0  ...             0             0
2                 0             0  ...             0             0
3                 0             1  ...             0             0
4                 0             0  ...             1             0
...             ...           ...  ...           ...           ...
49743             0             0  ...             0             0
49744             0             1  ...             0             0
49745             0             0  ...             1             0
49746             0             0  ...             1             0
49747             0             0  ...             0             0

[49748 rows x 6 columns]
       Month_Group_1  Month_Group_2  Month_Group_3  Month_Group_4
0                  0              0              0              0
1                  1              0              0              0
2                  1              0              0              0
3                  1              0              0              0
4                  1              0              0              0
...              ...            ...            ...            ...
49743              0              0              1              0
49744              0              0              1              0
49745              0              1              0              0
49746              0              0              1              0
49747              0              0              1              0

[49748 rows x 4 columns]
       Attempt_Year
0              2561
1              2561
2              2561
3              2561
4              2561
...             ...
49743          2564
49744          2564
49745          2564
49746          2564
49747          2564

[49748 rows x 1 columns]
       Attempt_Hurt_Others_0  Attempt_Hurt_Others_1
0                          0                      0
1                          0                      0
2                          0                      0
3                          0                      0
4                          0                      0
...                      ...                    ...
49743                      1                      0
49744                      1                      0
49745                      1                      0
49746                      1                      0
49747                      1                      0

[49748 rows x 2 columns]
       Attempt_Ever_0  Attempt_Ever_1
0                   0               0
1                   0               0
2                   0               0
3                   0               0
4                   0               0
...               ...             ...
49743               1               0
49744               1               0
49745               1               0
49746               1               0
49747               1               0

[49748 rows x 2 columns]
       Attempt_To_Die_0  Attempt_To_Die_1
0                     0                 0
1                     0                 1
2                     0                 1
3                     0                 1
4                     0                 1
...                 ...               ...
49743                 0                 0
49744                 1                 0
49745                 0                 1
49746                 1                 0
49747                 1                 0

[49748 rows x 2 columns]
       Attempt_Sign_0  Attempt_Sign_1
0                   0               1
1                   0               0
2                   0               0
3                   0               0
4                   0               0
...               ...             ...
49743               1               0
49744               1               0
49745               1               0
49746               1               0
49747               1               0

[49748 rows x 2 columns]
       Factor_R_Neglected_1
0                         0
1                         0
2                         0
3                         0
4                         0
...                     ...
49743                     0
49744                     0
49745                     0
49746                     0
49747                     0

[49748 rows x 1 columns]
       Factor_R_Humuliated_1
0                          0
1                          0
2                          0
3                          0
4                          0
...                      ...
49743                      0
49744                      0
49745                      0
49746                      0
49747                      0

[49748 rows x 1 columns]
       Factor_R_Jeolous_1
0                       0
1                       0
2                       1
3                       0
4                       0
...                   ...
49743                   0
49744                   1
49745                   0
49746                   0
49747                   0

[49748 rows x 1 columns]
       Factor_R_Qurrel_1
0                      0
1                      1
2                      1
3                      0
4                      0
...                  ...
49743                  0
49744                  0
49745                  0
49746                  0
49747                  0

[49748 rows x 1 columns]
       Factor_R_Needy_1
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
49743                 0
49744                 0
49745                 0
49746                 0
49747                 0

[49748 rows x 1 columns]
       Factor_R_Lost_1
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
49743                0
49744                0
49745                0
49746                0
49747                0

[49748 rows x 1 columns]
       Factor_R_Aging_Lonesome_1
0                              0
1                              0
2                              0
3                              0
4                              0
...                          ...
49743                          0
49744                          0
49745                          0
49746                          0
49747                          0

[49748 rows x 1 columns]
       Factor_R_Working_Environment_1
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0
...                               ...
49743                               0
49744                               0
49745                               0
49746                               0
49747                               0

[49748 rows x 1 columns]
       Factor_Alcoholic_0  Factor_Alcoholic_1
0                       0                   0
1                       0                   0
2                       0                   0
3                       0                   0
4                       0                   0
...                   ...                 ...
49743                   0                   1
49744                   1                   0
49745                   0                   0
49746                   0                   1
49747                   0                   0

[49748 rows x 2 columns]
       Factor_A_At_Sucide_Attempt_1
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
...                             ...
49743                             1
49744                             0

Delete age data

In [182]:
df = df.drop(df.index[df['Age'] == 999])
df = df.drop(df.index[df['Age'] == 616])
df = df.drop(df.index[df['Age'] == 110])

In [154]:
df.shape

(49739, 65)

In [133]:
status = pd.get_dummies(df['Status'])
status = status.add_prefix("Status_")
df.drop(['Status'],axis = 1, inplace=True)
df = pd.concat([df,status],axis = 1)

religion = pd.get_dummies(df['Religion'])
religion = religion.add_prefix("Religion_")
religion.head()
df.drop(['Religion'],axis = 1,inplace=True)
df = pd.concat([df,religion],axis = 1)

In [169]:
df.head()

   Gender_หญิง  Age_9  ...  Factor_C_Others_0  Factor_C_Others_1
0            0      0  ...                  1                  0
1            0      0  ...                  1                  0
2            1      0  ...                  1                  0
3            0      0  ...                  1                  0
4            0      0  ...                  1                  0

[5 rows x 273 columns]

In [135]:
df.shape

(49739, 77)

In [18]:
print(list(df.columns))

['Gender_หญิง', 'Age', 'Province_Happen_11', 'Province_Happen_12', 'Province_Happen_13', 'Province_Happen_14', 'Province_Happen_15', 'Province_Happen_16', 'Province_Happen_17', 'Province_Happen_18', 'Province_Happen_19', 'Province_Happen_20', 'Province_Happen_21', 'Province_Happen_22', 'Province_Happen_23', 'Province_Happen_24', 'Province_Happen_25', 'Province_Happen_26', 'Province_Happen_27', 'Province_Happen_30', 'Province_Happen_31', 'Province_Happen_32', 'Province_Happen_33', 'Province_Happen_34', 'Province_Happen_35', 'Province_Happen_36', 'Province_Happen_37', 'Province_Happen_38', 'Province_Happen_39', 'Province_Happen_40', 'Province_Happen_41', 'Province_Happen_42', 'Province_Happen_43', 'Province_Happen_44', 'Province_Happen_45', 'Province_Happen_46', 'Province_Happen_47', 'Province_Happen_48', 'Province_Happen_49', 'Province_Happen_50', 'Province_Happen_51', 'Province_Happen_52', 'Province_Happen_53', 'Province_Happen_54', 'Province_Happen_55', 'Province_Happen_56', 'Province_Happen_57', 'Province_Happen_58', 'Province_Happen_60', 'Province_Happen_61', 'Province_Happen_62', 'Province_Happen_63', 'Province_Happen_64', 'Province_Happen_65', 'Province_Happen_66', 'Province_Happen_67', 'Province_Happen_70', 'Province_Happen_71', 'Province_Happen_72', 'Province_Happen_73', 'Province_Happen_74', 'Province_Happen_75', 'Province_Happen_76', 'Province_Happen_77', 'Province_Happen_80', 'Province_Happen_81', 'Province_Happen_82', 'Province_Happen_83', 'Province_Happen_84', 'Province_Happen_85', 'Province_Happen_86', 'Province_Happen_90', 'Province_Happen_91', 'Province_Happen_92', 'Province_Happen_93', 'Province_Happen_94', 'Province_Happen_95', 'Province_Happen_96', 'Province_Happen_99', 'Province_Happen_ต่างประเทศ', 'Province_Happen_ไม่ทราบ', 'Status_สมณะ', 'Status_หม้าย', 'Status_หย่า', 'Status_แยก', 'Status_โสด', 'Status_ไม่ทราบ', 'Religion_ซิกข์', 'Religion_บาไฮ', 'Religion_พุทธ', 'Religion_อิสลาม', 'Religion_ไม่ทราบ', 'Religion_ไม่นับถือศาสนา', 'WTK_Overdose', 'WTK_Insecticide', 'WTK_Herbicide', 'WTK_Other_Chemicals', 'WTK_Sharp_Weapons', 'WTK_Guns', 'WTK_Jump_Off_Building', 'WTK_Hang', 'WTK_Jump_Into_Water', 'WTK_Ran_Into_Cars', 'WTK_Smoke_Gas', 'Disease_M_Physcopath', 'Disease_M_Depression', 'Disease_M_Others', 'Disease_P_Diabetes', 'Disease_P_HBP', 'Disease_P_Cardio', 'Disease_P_Kidney', 'Disease_P_Liver', 'Disease_P_lung', 'Disease_P_Migrant', 'Disease_P_Joint', 'Disease_P_Paralyze', 'Disease_P_Cancer', 'Disease_P_HIV', 'Disease_P_Others', 'Time_Group_2', 'Time_Group_3', 'Time_Group_4', 'Time_Group_5', 'Time_Group_6', 'Time_Group_ไม่ทราบ', 'Month_Group', 'Attempt_Year', 'Attempt_Hurt_Others_1', 'Attempt_Hurt_Others_ไม่ทราบ', 'Attempt_Ever_1', 'Attempt_Ever_ไม่ทราบ', 'Attempt_To_Die_1', 'Attempt_To_Die_ไม่ทราบ', 'Attempt_Sign_1', 'Attempt_Sign_ไม่ทราบ', 'Factor_R_Neglected', 'Factor_R_Humuliated', 'Factor_R_Jeolous', 'Factor_R_Qurrel', 'Factor_R_Needy', 'Factor_R_Lost', 'Factor_R_Aging_Lonesome', 'Factor_R_Working_Environment', 'Factor_Alcoholic_1', 'Factor_Alcoholic_ไม่ทราบ', 'Factor_A_At_Sucide_Attempt', 'Factor_Drugs_1', 'Factor_Drugs_ไม่ทราบ', 'Factor_D_At_Sucide_Attempt', 'Factor_Di_Lonesone_1', 'Factor_Di_Lonesone_ไม่ทราบ', 'Factor_Di_Pain_1', 'Factor_Di_Pain_ไม่ทราบ', 'Factor_Economic_1', 'Factor_Economic_ไม่ทราบ', 'Factor_E_Poor_1', 'Factor_E_Poor_ไม่ทราบ', 'Factor_E_Unemployed_1', 'Factor_E_Unemployed_ไม่ทราบ', 'Factor_E_Dept_1', 'Factor_E_Dept_ไม่ทราบ', 'Factor_Others', 'Success', 'Disease_P_Direct_COVID', 'Disease_P_COVID', 'Factor_C_Unemployed_1', 'Factor_C_Unemployed_ไม่ทราบ', 'Factor_C_Poor_1', 'Factor_C_Poor_ไม่ทราบ', 'Factor_C_Dept_1', 'Factor_C_Dept_ไม่ทราบ', 'Factor_C_Mental_1', 'Factor_C_Mental_ไม่ทราบ', 'Factor_C_Others_1', 'Factor_C_Others_ไม่ทราบ']

In [183]:
for j in range (65):
  i = 0
  tmp = pd.get_dummies(df.iloc[:, [i]],drop_first=True)
  df.drop(df.columns[i], axis=1,inplace = True)
  df = pd.concat([df,tmp],axis = 1)

In [174]:
df.head()

   Gender_หญิง  Age  ...  Factor_C_Others_0  Factor_C_Others_1
0            0   42  ...                  1                  0
1            0   51  ...                  1                  0
2            1   29  ...                  1                  0
3            0   58  ...                  1                  0
4            0   53  ...                  1                  0

[5 rows x 178 columns]

In [142]:
df.columns

Index(['Status_คู่', 'Status_สมณะ', 'Status_หม้าย', 'Status_หย่า',
       'Status_แยก', 'Status_โสด', 'Religion_คริสต์', 'Religion_ซิกข์',
       'Religion_บาไฮ', 'Religion_พุทธ',
       ...
       'Factor_C_Unemployed_1', 'Factor_C_Unemployed_unknown',
       'Factor_C_Poor_1', 'Factor_C_Poor_unknown', 'Factor_C_Dept_1',
       'Factor_C_Dept_unknown', 'Factor_C_Mental_1', 'Factor_C_Mental_unknown',
       'Factor_C_Others_1', 'Factor_C_Others_unknown'],
      dtype='object', length=174)

In [184]:
df.to_excel("/content/gdrive/MyDrive/SeniorProject_KorBoss/Cleaned_Dummy8.xlsx")

In [147]:
list=["1","2","0","&","#","a"]
list.sort()
print(list)

['#', '&', '0', '1', '2', 'a']

##Feature Selection
Here, you need to divide given columns into two types of variables dependent(or target variable) and independent variable(or feature variables).

In [ ]:
#split dataset in features and target variable
list_col = list(df.columns)
lsit_col = list_col.remove("Success")
feature_cols = list_col
X = df[feature_cols] # Features
y = df.Success # Target variable
print(feature_cols)

['Age', 'Province_Happen', 'Province_Census', 'WTK_Overdose', 'WTK_Insecticide', 'WTK_Herbicide', 'WTK_Other_Chemicals', 'WTK_Sharp_Weapons', 'WTK_Guns', 'WTK_Jump_Off_Building', 'WTK_Hang', 'WTK_Jump_Into_Water', 'WTK_Ran_Into_Cars', 'WTK_Smoke_Gas', 'Disease_M_Physcopath', 'Disease_M_Depression', 'Disease_M_Others', 'Disease_P_Diabetes', 'Disease_P_HBP', 'Disease_P_Cardio', 'Disease_P_Kidney', 'Disease_P_Liver', 'Disease_P_lung', 'Disease_P_Migrant', 'Disease_P_Joint', 'Disease_P_Paralyze', 'Disease_P_Cancer', 'Disease_P_HIV', 'Disease_P_Others', 'Attempt_Date', 'Attempt_Month', 'Attempt_Year', 'Attemp_Time', 'Attempt_Hurt_Others', 'Attempt_Ever', 'Attempt_To_Die', 'Attempt_Sign', 'Factor_R_Neglected', 'Factor_R_Humuliated', 'Factor_R_Jeolous', 'Factor_R_Qurrel', 'Factor_R_Needy', 'Factor_R_Lost', 'Factor_R_Aging_Lonesome', 'Factor_R_Working_Environment', 'Factor_Alcoholic', 'Factor_A_At_Sucide_Attempt', 'Factor_Drugs', 'Factor_D_At_Sucide_Attempt', 'Factor_Di_Lonesone', 'Factor_Di_Pain', 'Factor_Economic', 'Factor_E_Poor', 'Factor_E_Unemployed', 'Factor_E_Dept', 'Factor_Others', 'Disease_P_Direct_COVID', 'Disease_P_COVID', 'Factor_C_Unemployed', 'Factor_C_Poor', 'Factor_C_Dept', 'Factor_C_Mental', 'Factor_C_Others', 'Gender_ชาย', 'Gender_หญิง', 'Status_คู่', 'Status_สมณะ', 'Status_หม้าย', 'Status_หย่า', 'Status_แยก', 'Status_โสด', 'Status_ไม่ทราบ', 'Religion_คริสต์', 'Religion_ซิกข์', 'Religion_บาไฮ', 'Religion_พุทธ', 'Religion_อิสลาม', 'Religion_ไม่ทราบ', 'Religion_ไม่นับถือศาสนา', 'Religion_ไม่ระบุ']

## Splitting Data
To understand model performance, dividing the dataset into a training set and a test set is a good strategy.

Let's split the dataset by using function train_test_split(). You need to pass 3 parameters features, target, and test_set size

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

##Building Decision Tree Model
Let's create a Decision Tree Model using Scikit-learn.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
#y_pred = clf.predict(X_test)

ValueError: ignored

##Evaluating Model
Let's estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values and predicted values.

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))